openai
mediapipe
pdfplumber
python-dotenv
python-pptx
reachy-mini
numpy
scipy
langchain-core
langchain-text-splitters
langchain-openai
langchain-ollama
langchain-qdrant
qdrant-client
tiktoken
sentence-transformers
fastembed
cohere
ragas
docling
langchain-google-genai
google-genai==1.68.0
google-adk==1.19.0
openai
sounddevice
pdf2image
pdfplumber
Pillow
python-dotenv
python-pptx
reachy-mini==1.3.1
numpy
scipy
